extends ../includes/template.pug

block title
    | Genealogy - Surnames


block content
    .stick
        .stick__top
            include ../includes/header.pug
            +header({current: "baza"})
            section.human-settlement
                .container
                    .row
                        .col-lg-8
                            a(href="#").bread-crumbs
                                <svg class="bread-crumbs__arrow" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 22C17.0652 22 22 17.0656 22 11C22 4.93441 17.0652 0 11 0C4.93484 0 0 4.93441 0 11C0 17.0656 4.93484 22 11 22ZM11 0.854369C16.5944 0.854369 21.1456 5.40559 21.1456 11C21.1456 16.5944 16.5944 21.1456 11 21.1456C5.40559 21.1456 0.854368 16.5944 0.854368 11C0.854368 5.40559 5.40559 0.854369 11 0.854369Z" fill="#85889B"/>
                                    <path d="M8.17654 11.3507H14.2994C14.5356 11.3507 14.7266 11.1593 14.7266 10.9235C14.7266 10.6877 14.5356 10.4963 14.2994 10.4963H8.17654C7.94031 10.4963 7.74936 10.6877 7.74936 10.9235C7.74936 11.1593 7.94031 11.3507 8.17654 11.3507Z" fill="#85889B"/>
                                    <path d="M10.2567 14.1202C10.3515 14.1202 10.4468 14.0886 10.5262 14.024C10.7095 13.875 10.7364 13.6058 10.5873 13.423L8.54282 10.9167L10.3566 8.56848C10.501 8.3818 10.4669 8.11352 10.2798 7.96914C10.0926 7.82432 9.82438 7.8602 9.68084 8.04603L7.65983 10.6625C7.53851 10.8197 7.5415 11.0397 7.66709 11.194L9.92605 13.963C10.0098 14.0663 10.1328 14.1202 10.2567 14.1202Z" fill="#85889B"/>
                                </svg>
                                span.bread-crumbs__text Назад
                            h1.human-settlement__headline Населенный пункт Актаныш
                            .human-settlement__section
                                .human-settlement__label
                                    strong Райцентр: 
                                    | Актаныш (Актаныш) 
                                .human-settlement__label
                                    strong Территория: 
                                    | 2037,8 кв. км 
                                .human-settlement__label
                                    strong Численность населения: 
                                    | 32 тыс. человек 
                            .human-settlement__section
                                .human-settlement__label
                                    strong Глава муниципального образования
                                    br
                                    | 423740 Республика Татарстан, с. Актаныш, пр. Ленина, 17 
                                    br
                                    | Тел: (85552) 3-44-44; факс: (85552) 3-44-38
                                    br
                                    | E-mail: 
                                    a(href="#") Mail.Aktanish@tatar.ru
                            .human-settlement__text
                                | Актанышский район Республики Татарстан расположен на северо-востоке республики, граничит с Башкортостаном и Удмуртией. Район состоит из 26 сельских поселений, включающих в себя 87 населенных пунктов. Отсутствие полезных ископаемых, отдаленность на 140-160 км. от ближайших железнодорожных станций, малолесность, но плодородные земли определяют преимущественное развитие сельскохозяйственного производства. 
                                br
                                br
                                | Территория Актанышского  муниципального района - 2034 кв.км, из них 1251,44 кв.км занимают земли сельскохозяйственного назначения; площадь, покрытая лесом, составляет 154,38 тыс.кв.км. Протяженность: с севера на юг- 60 км, с запада на восток - 48 км. Центр Актанышского района- село Актаныш расположен на северо-востоке Татарстана,  в 381 км к востоку от Казани. Расположен вблизи Нижнекамского водохранилища, в 65 км. к югу от железнодорожной станции Нефтекамск. В южной части района - автодорога Мензелинск-Уфа.  
        include ../includes/footer.pug