extends ../includes/template.pug

block title
    | Genealogy - Are you sure


block content
    .stick.stick_blue
        .stick__top
            include ../includes/header.pug
            +header()
            section.password-recovery
                .container
                    .row
                        .col-lg-12
                            h1.password-recovery__headline Восстановление пароля
                            p.password-recovery__description Введите email, на который вы регистрировались
                            form(
                                action=""
                            ).password-recovery__form
                                label.default-field-with-label
                                    // default-field-with-label_error
                                    span.default-field-with-label__label E-mail
                                    .default-field__shell
                                        input(
                                            type="text"
                                            placeholder="Ввести"
                                            value="svetlov@gmail.com"
                                        ).default-field-with-label__field
                                    span.default-field-with-label__error Такой фамилии не существует
                                button(
                                ).default-button.password-recovery__form__login
                                    // disabled
                                    // default-button_loader
                                    span.default-button__text Отправить
        include ../includes/footer.pug