extends ../includes/template.pug

block title
    | Genealogy - Are you sure


block content
    .stick.stick_blue
        .stick__top
            include ../includes/header.pug
            +header()
            section.password-recovery-success
                .container
                    .row
                        .col-lg-12
                            img(
                                src="assets/img/password-recovery-success.svg"
                            ).password-recovery-success__picture
                            h1.password-recovery-success__title Готово
                            p.password-recovery-success__description Мы отправили на petrov@gmail.com код для <br class="br_lg"><br class="br_md"> восстановления пароля
        include ../includes/footer.pug